/* TAGS */
* {margin:0;padding:0}
html {min-width:1024px} 
body {background:#2f373a;font-family:Arial,Helvetica,sans-serif;font-size:100%;line-height:1em;color:#4e4e4e;min-width:1024px;border-top:10px solid #0c0e0e}
object {vertical-align:top;outline:none}
input, textarea, select {font-family:Arial,Helvetica,sans-serif;font-size:1em;vertical-align:middle;font-weight:normal}
fieldset {border:0}
p {margin:0;padding:0}
img {border:0;vertical-align:top;text-align:left}
ul, ol {list-style:none}
/* GLOBAL */
#header, #content, #footer {font-size:0.875em;width:1024px;margin:0 auto}
.col-1, .col-2, .col-3 {float:left}
/* ALIGMENT */
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.alignright {text-align:right}
.aligncenter {text-align:center}
.wrapper {width:100%;overflow:hidden}
.container {width:100%}
.leftmargin1 {margin-left: 50px;}
.nobr {white-space:nowrap;}
/* TAILING */
.tail-top {background-color: #ffffff}

/* LISTS */
.list {margin-bottom:-11px}
.list li.indentLi {margin-left: 220px;}
.list li {padding:0 0 11px 28px;height:auto!important;height:54px;background:url(img/arrow.gif) no-repeat left top;line-height:1.43em;position:relative}
.list li strong {display:block;font-size:.86em;padding-bottom:2px}
.list li strong.subtitle {font-size: 0.95em; margin-bottom: 10px; }
.list li a {color:#c2442b;text-decoration:none}
.list li a:hover {text-decoration:underline}

/* OTHER */
p {margin-bottom:20px;line-height:1.43em}
.p0 {margin-bottom:0}
/* TXT, LINKS, LINES, TITLES */
a {color:#c2442b;outline:none}
a:hover {text-decoration:none}
h3 {font-size:40px;line-height:1.2em;font-weight:normal;color:#000;letter-spacing:-2px;margin-bottom:12px}
h4 {font-size:30px;color:#000;letter-spacing:-2px;margin-bottom:16px}
/* HEADER */
#header {height:478px;position:relative;z-index:2;background:url(img/background.jpeg) no-repeat left bottom}
#header .extra {position:absolute;left:0px;bottom:20px}
#header .row-2 {height:105px;padding-top:76px}
#header .row-2 img#home_page {margin-left:54px}
#header .row-2 img#about_me {margin-left:96px}
#header .row-2 img#portfolio {margin-left:52px}
#header .row-2 img#contact {margin-left:348px}

/* CONTENT */
#content {position:relative}
#content .col-1 {width:734px}
#content .col-2 {width:290px;padding:94px 0 170px 0}
#content .col-2 ul {padding:0 43px 0 41px}
#content .col-2 ul li {line-height:1.43em;padding-bottom:18px}
#content .col-2 ul li strong {display:block;font-size:.86em;padding-bottom:5px}
#content .col-2 ul li a {text-decoration:none}
#content .col-2 ul li a:hover {color:#000}
.inner_copy, .inner_copy a {border:0;float:right;background:#f00;color:#f00;width:35%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
#content .indent {padding:33px 33px 50px 37px}
#content .indent1 {padding-bottom:33px}
#content div#portfolio1 img {margin: 0 20px 20px 0px; border: solid 1px; float: left}
#content div#ja img {margin: 0px 0px 30px 30px; border: solid 1px; float: right}
#content img#linkedin {margin-top: 10px; margin-bottom: 10px}
/* FOOTER */
#footer {height:50px;}
#footer .indent {padding:17px 34px 0 37px}
#footer a {color:#fff;text-decoration:none}
#footer a:hover {text-decoration:underline}
#footer img {position:relative;top:-4px}